<fieldset id="OuterfieldD" class="outer-fieldset outertab">
    <legend class="outer-legend outertab-title">Notes<span class="hideouter-content">&minus;</span></legend>
    <div class="outertab-t">Show</div>
    <div class="outertab-content">
        <fieldset id="field23">
            <div id="NotesGeneral" class="form-group">  
                <label for="NotesGeneralContent" titletip="The content of the text note concerning the experiment in general.">General Notes:&nbsp;&nbsp;<div class="tooltip"><i class="fa fa-info-circle information"></i> <span class="tooltiptext"></span></div></label>
                <input type="text" id="NotesGeneralContent" name="NotesGeneralContent">
            </div>
        </fieldset>
    </div>
</fieldset>
