#GS body {
  font-family:   Arial, sans-serif !important;
  background: linear-gradient(to right, #c4d1d5, #afd8df);
  /*#a9d5dc*/
  /*background: linear-gradient(to right, #85a3b2, #558899);*/ /* lighter and darker shades of blue */
  margin: 0;
  padding: 0;
  color: white !important; 
  height: 100vh; 
}

#GS form {
  max-width: /*60%;*/ 940px;
  width: 80%;
  margin: 20px auto;
  /*background-color: #34495e;*/
  background-color: #3f566d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

#GS form:hover {
  box-shadow: 0 0 500px rgba(0, 0, 0, 0.2);
}

#GS fieldset {
  border: 5px solid #dddddd;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
}

#GS .inner-fieldset {
  border: 4px solid #dddddd;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
}

#GS .hidden-fieldset {
  display: none;
}

#GS .dynamicPro{
  margin-top: 20px;
}

#GS .TwoColumn {
  grid-column: span 2;
}

#GS .TwoColumn-fieldset {
  grid-column: span 2;
}

#GS .outer-fieldset {
  position: relative;
  border: 8px solid ;
  border-radius: 8px;
  padding: 20px;
  margin-bottom:50px;
  border-image: linear-gradient(to right, #c4d1d5, #afd8df) 1;
}

#GS .outer-legend {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  float: none !important;
  width: auto !important;
  font-family:   Arial, sans-serif !important;
}

#GS legend {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  float: none !important;
  width: auto !important;
  font-family:   Arial, sans-serif !important;
}

#GS .specific-legend {
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family:   Arial, sans-serif !important;
}

#GS label {
  display: block;
  margin-bottom: 8px;
  white-space: nowrap;
  font-weight: normal !important;
  line-height: normal !important;
  font-family:   Arial, sans-serif !important;
}  

#GS input:not([type="submit"]),select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
}

#GS select:focus {
  border-color: #a51808; /* Change border color on focus for a visual indication */
}


#GS .grain-size-fields {
  display: flex;
  gap: 10px;
}

#GS button {
  display: block;
  margin: 10px auto;
  background-color: #8ca08c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-size: 100%;
}

#GS button:hover {
  background-color: #bdee09;
}

#GS .main-button {
  display: block;
  margin: 10px auto;
  background: linear-gradient(to right, #536e77, #2f98ab);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-size: 100%;
  font-size: 24px;
  font-weight: bold;
}

#GS .main-button:hover {
  background: #bdee09;
}

#GS .special-button {
  background-color: #8ca08c;
  color: #fff;
  padding: 10px 20px;
  margin-top: 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


#GS .form-group {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 1fr;
  gap: 10px;
  align-items: center;
  background-color: #3f566d;
  padding: 10px;
  border-radius: 8px;
}

#GS .form-group-3c {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 1fr 0.1fr;
  gap: 10px;
  align-items: center;
  background-color: #3f566d;
  padding: 10px;
  border-radius: 8px;
}


#GS .standard{
  margin-bottom: 8px;
  white-space: nowrap;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
}


#GS .red-text {
  color: red;
}

#GS #xmlOutputLabel {
  display: none;
}



#GS .sidebar {
  height: 83%;
  width: 15%;/*240px;*/
  position: fixed;
  top: 7%;
  left: 0;
  padding-top: 0;
  background-color: #34495e;
  border-right: 1px solid #2c3e50;
  border-radius: 8px;
}

#GS .sidebar ul {
  list-style: none;
  padding: 0;
}

#GS .sidebar li {
  margin-bottom: 1%; /*5px;*/
}

#GS .sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 95%;/*16px;*/
  display: block;
  padding: 4%;/*10px;*/ 
  position: relative;
  transition: background-color 0.3s;
  font-family:   Arial, sans-serif !important;
}

#GS .sidebar a:hover {
  background-color: #2c3e50;
}

#GS .sidebar a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #ecf0f1;
  position: absolute;
  left: 4%; /*15px;*/ 
  right: 4%; /*15px;*/ 
  bottom: 1.5%; /*5px;*/
  width: 0%;
  transition: width ease-in-out 250ms;
}

#GS .sidebar a.active::before {
  width: 95%;
}

#GS .sidebar ul ul {
  display: none;
  margin-left: 15px;
}

/* Dropdown Arrow Styles */
#GS .sidebar a.dropdown::after {
  content: '▼';
  position: absolute;
  right: 10px;
  transition: transform 0.3s;
}

#GS .sidebar a.active.dropdown::after {
  content: '▼'; /*'▲';*/ 
  transform: rotate(180deg);
}

#GS .sidebar li.active ul {
  display: block;
}


#GS .sidebar ul ul ul {
  display: none;
  margin-left: 15px;
}

#GS .sidebar ul ul li.active ul {
  display: block;
}

#GS .sidebar ul ul a.dropdown::after {
  content: '▽';
  position: absolute;
  right: 10px;
  transition: transform 0.3s;
}

#GS .sidebar ul ul a.active.dropdown::after {
  content: '▽'; /*content: '△';*/ 
  transform: rotate(180deg);
}

#GS .side-title{
  font-size:150%;
  font-weight: bold;
  margin-left:4%;
}



#GS .hidden {
  display: none !important;
}

#GS .semicolon {
  font-weight: normal;
  font-size: 0.8em ;
  font-style: italic;
}

#GS .hidden-class {
  display: none;
}



#GS .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#GS .loader .file-upload {
  height: 60px;
  width: 180px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFF;
  overflow: hidden;
  background: linear-gradient(to bottom, #3f566d 50%, #FFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFF;
  font-size: 16px;
}

#GS .loader .file-upload input[type=file] {
  height: 60px;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

#GS .loader .file-upload:hover {
  background-position: 0 -100%;
  color: #3f566d;
}




#GS .upload-select-group {
  display: grid;
  grid-template-columns: minmax(50px,0.3fr) 1fr minmax(50px,0.3fr) 1fr minmax(50px,0.3fr) minmax(150px,0.3fr);
  gap: 10px;
  align-items: center;
  background-color: #3f566d;
  padding: 10px;
  border-radius: 8px;
}






#GS .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#GS .modal-content {
  background-color: #9DB4FF;
  /*background-color: #597760;*/
  margin: 5% auto;
  padding: 10px;
  /*border: 2px solid #c00303;*/
  border: 3px solid #3B5998;
  border-radius: 20px;
  width: 30%;
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#GS .close {
  color: #aaa;
  top: 20px;
  right: 20px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 9999;
}

#GS .close:hover,
#GS .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





#GS .graph-form-group {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 1fr 0.1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  align-items: center;
  background-color: #3f566d;
  padding: 10px;
  border-radius: 8px;
}

#GS .graph-form-group button {
  grid-column: 3;
  grid-row: 1 / span 2;
  padding: 4px;
  font-size: 130%;
}

#GS .linegraph-canvas {
  width: 70% !important;
  height: auto !important;
  margin: 0 auto !important;
  background-color: #ffffff;
  border: 3px solid #172259;
  border-radius: 10px;
}


#GS .multilabel {
  text-align: center;
  grid-column: span 2;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

#GS .multilabel:before,
#GS .multilabel:after {
  content: "";
  position: absolute;
  top: 35%;
  width: 20%;
  height: 4px;
  background-color: white;
}

#GS .multilabel:before {
  left: 18%;
}

#GS .multilabel:after {
  right: 18%;
}

#GS .multilabellarger{
  font-size: 110%;
}


#GS .repli-label {
  text-align: center;
  grid-column: span 2;
  margin-top: 10px;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

#GS .repli-label:before,
#GS .repli-label:after {
  content: "";
  position: absolute;
  top: 35%;
  width: 30%;
  height: 4px;
  background-color: white;
}

#GS .repli-label:before {
  left: 10%;
}

#GS .multirepli-labellabel:after {
  right: 10%;
}