<div class="sidebar">
    <div class="bounded-div">
        <span> This page is used to bulk upload records using the predefined AsphaltMine Excel sheet.</span>
    </div>
    <div class="bounded-div">
        <span> To download the predefined AsphaltMine Excel file, click <a class="refer-link" href="https://www.asphaltmine.org/download.php?file=AsphaltMine%20Database%20Structure.xlsx">here</a>.</span>
    </div>
    <div class="bounded-div">
        <span> To reset the page, click the 'Reset' button below.</span>
    </div>
    <button id="reset-btn" onclick="Reset()">Reset</button>
</div>
