<div class="sidebar">
    <div class="bounded-div">
        <div class="side-card-header">
            <span class="side-card-title">About this page</span>
            <button id="reset-btn" onclick="Reset()" title="Reset the page"><i class="fa fa-repeat"></i></button>
        </div>
        <ul class="side-info-list">
            <li>Bulk upload records using the predefined AsphaltMine Excel sheet.</li>
            <li>Download the predefined Excel file <a class="refer-link" href="https://www.asphaltmine.org/download.php?file=AsphaltMine%20Database%20Structure.xlsx">here</a>.</li>
        </ul>
    </div>
</div>
