<div id="RightSidebar" class="sidebar-right">
    <div class="bounded-div">
        <span style="font-size: 110%;">Functionalities:</span><br />
        <span>&#8226;&nbsp;&nbsp; Extract records &nbsp;<i class="fa fa-question-circle moreinfo" data-target="extractfunc-info"></i></span><br />
        <span>&#8226;&nbsp;&nbsp; Validate records  &nbsp;<i class="fa fa-question-circle moreinfo" data-target="validfunc-info"></i></span><br />
        <span>&#8226;&nbsp;&nbsp; Save records  &nbsp;<i class="fa fa-question-circle moreinfo" data-target="savefunc-info"></i></span><br />
    </div>
    <br>
    <button id="quick-start-btn">Quick Start</button>
    <div id="extractfunc-info" style="display: none;">
        <b>Extract Records:</b>
        You can extract records from the predefined AsphaltMine Excel sheet. To do this, follow these steps:
        <ol>
            <li>Click on the Upload AsphaltMine Excel File button.</li> 
            <li>Select the Excel file from your own device.</li> 
            <li>Select one of the two available sheets: either the Columns sheet or the Rows sheet.</li>
            <li>Click Extract, then click Confirm.</li> 
        </ol> 
        Once the process is finished, a message will appear showing the number of records extracted, or if no records are extracted. This process could take some time depending on the size of the Excel sheet.<br><br>
        For more information, please check the <a style="color: black;" href="/tutorial/"><i>Tutorial</i></a> page.
    </div>
    <div id="validfunc-info" style="display: none;">
        <b>Validate Records:</b>
        You can validate the extracted records. This validation button will only appear if at least one record was extracted from the Excel sheet. To do this, click on the Validate button.<br><br>
        Once the records are successfully checked, you will see which records are valid and which are invalid. The screen will also display the reason for any invalid records.<br><br>
        For more information, please check the <a style="color: black;" href="/tutorial/"><i>Tutorial</i></a> page.
    </div>
    <div id="savefunc-info" style="display: none;">
        <b>Save Records:</b>
        Once all the records are valid, you can save them to the database at once by simply clicking the "Save" button that will appear after validation. The save button will only appear if all records are valid.<br><br>
        For more information, please check the <a style="color: black;" href="/tutorial/"><i>Tutorial</i></a> page.
    </div>
</div>
