<!------------------------------------------------------>
<!------------------------------------------------------>
<!--                     Tutorial                     -->
<!------------------------------------------------------>
<!------------------------------------------------------>
<!--                 @ AsphaltMine.org                -->
<!------------------------------------------------------>
<!------------------------------------------------------>
<!--      Created by Mohammad Abbas - January 2025    -->
<!------------------------------------------------------>
<!------------------------------------------------------>
{% load static %}

{% block head %}
    <title>Tutorial | AsphaltMine</title>
{% endblock %}
{% block theme_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/gensel.css' %}">
    <link rel="stylesheet" href="{% static 'css/General/navigator.css' %}">
{% endblock %}
{% block theme_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'core_main_app/common/js/csrf.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block body %}

    {% include "General/navigator.html" %}
    
   <!--<iframe src="{% static 'AsphaltMineTutorial.pdf' %}" scrolling="yes" style="width: 100%; height: 100vh; border: 3px solid #dddddd;"></iframe>-->

    <object 
        data="{% static 'AsphaltMineTutorial.pdf' %}" 
        type="application/pdf" 
        style="width: 99.745%; height: 100vh; border: 3px solid #dddddd;">
        <p style="color: black; font-size:26px; text-align:center">It appears your browser does not support PDFs. You can <a href="{% static 'AsphaltMineTutorial.pdf' %}">download the PDF</a> instead.</p>
    </object>

{% endblock %}

